Package: com.dgh0st.dvirtualhome
Name: DVirtualHome
Depends: mobilesubstrate, preferenceloader
Version: 0.0.30
Architecture: iphoneos-arm
Description: A Virtual Home Tweak for iOS 14.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
