Package: com.dgh0st.dvirtualhome
Name: DVirtualHome
Depends: mobilesubstrate, preferenceloader
Version: 0.0.31
Architecture: iphoneos-arm
Description: A Virtual Home Tweak only tested in iOS 14.5.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
